body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E6F3FF;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    text-align: center; /* Center the content in the sidebar */
}

.sidebar img {
    width: 50%; /* Adjust the width as needed */
    height: auto;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a span {
    margin-right: 10px;
}

.main-content {
    flex: 3;
    padding: 20px;
}

.top-bar {
    margin-bottom: 20px;
    text-align: center; /* Center the content in the top-bar */
}

.top-bar input[type="text"] {
    padding: 8px;
    width: 60%; /* Adjust the width as needed */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ffffff; /* Add border for better visibility */
}

.feed {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}
