/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e6f3ff;
}

/* Container styles */
.container {
  display: flex;
  min-height: 100vh;
}

/* Follow button styles */
.follow-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e6f3ff;
  color: #706f6f;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #e6f3ff;
  border-radius: 5px;
  font-family: 'Poppins';
}

.follow-button:hover {
  background-color: #e6f3ff;
}

/* Sidebar styles */
.sidebar {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  max-width: 200px;
}

.sidebar img {
  width: 60%;
  height: auto;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.sidebar ul li a span {
  text-align: left;
  width: 35px;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 1px;
  margin-left: 15px;
}

.sidebar ul li a:hover {
  color: #d6baff;
}

/* User Info styles */
.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.follow-button-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.user-pictures-container {
  margin-top: 20px;
  text-align: center;
}

.user-pictures-container p {
  color: #706f6f;
}

.profile-picture-container {
  margin-top: 20px;
  text-align: right; /* Align the content to the right */
  margin-left: auto; /* Push the container to the right */
}

.profile-picture-container img {
  width: 20%;
  height: 20% ;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 5px;

}

.profile-picture {
  width: 120px;
  height: auto;
}

.profile-picture-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #706f6f;
  font-size: 14px;
}

.user-pictures-container img {
  width: 100%;
  height: 100% ;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 5px;
} 

/* Profile Details Separator styles */
.profile-details::after {
  content: '';
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 auto 10px;
  width: 100%;
}

/* Follower/Following styles */
.follower-following {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;
  color: #D6BAFF;
}

.follower-following p {
  margin-right: 10px;
}

/* Main Content styles */
.main-content {
  flex: 3;
  padding: 20px;
}

/* Top Bar styles */
.top-bar {
  margin-bottom: 20px;
  text-align: center;
}

.top-bar input[type="text"] {
  padding: 8px;
  text-align: center;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

/* Feed styles */
.feed {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 20px;
}

.feed-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feed-image {
  width: 100%;
  height: auto;
}

/* Icons styles */
.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.icon {
  width: 28px;
  height: auto;
  padding-right: 10px;
}

.likes {
  text-align: left;
  margin-left: auto;
  padding-right: 15px;
}

/* Logout styles */
.logout a {
  color: #d6baff;
  font-size: 25px;
  text-decoration: none; /* Remove underline */
  align-items: center;
}

.logout a:hover {
  color: #000000;
}

.hashtag {
  color: #d6baff;
  font-weight: bold;
}

/* Logout Separator styles */
.logout::before {
  content: '';
  display: block;
  border-top: 1px solid #ccc;
  margin: 0 auto 10px;
  width: 100%;
  padding-bottom: 4rem;
}

/* Sidebar Separator styles */
.sidebar ul li:first-child::before {
  content: '';
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 auto 10px;
  width: 100%;
}

/* Picture Container styles */
.picture-container {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  width: calc(33.33% - 20px);
  text-align: center;
}

.picture-container img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* User Pictures Container styles */
.user-pictures-container {
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center;
}

.user-pictures-container p {
  color: #706f6f;
}

/* Ensure three containers in a row on larger screens */
@media screen and (min-width: 768px) {
  .picture-container {
    width: calc(33.33% - 20px);
  }
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 767px) {
  body {
    font-size: 16px; /* Adjust as needed for smaller screens */
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    max-width: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 20px;
  }

  .main-content {
    flex: none;
  }

  .follow-button-container {
    margin-bottom: 20px;
  }

  .top-bar {
    display: flex;
    align-items: center;
  }

  .top-bar input[type="text"] {
    width: 100%;
    margin: 0 auto; /* Center the input horizontally */
  }

  .picture-container {
    width: 100%;
    margin: 10px 0; /* Adjust margins for smaller screens */
  }
}
/* Popup styles */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  height: 200%;
  max-height: 490px;
  padding: 10px;
  border-radius: 40px;
  z-index: 9999;
  color: #000;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-content {
  text-align: center;
}

.close {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  margin-right: 20px; /* Add margin to the right */
  font-size: 40px;
}

.close:hover,
.close:focus {
  color: #d6baff;
  text-decoration: none;
  cursor: pointer;
}


.closePop {
  cursor: pointer;
  font-size: 40px;
}

.popup-content input[type="file"] {
  display: block;
  margin: 60px auto;
  background-color: #e6f3ff;
}

.popup-content button {
  width: 50%;
  padding: 20px;
  border: #fff;
  border-radius: 5px;
  background-color: #E6F3FF;
  color: #000;
  cursor: pointer;
  font-size: 30px;
  position: relative;
  font-weight: bold;
}

.popup-content button:hover {
  background-color: #d6baff;
}

.empty-area {
  background-image: url(../img/drag.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px dashed #ccc;
  padding: 15px;
  margin: 15px auto;
  width: 60%;
  max-width: 300px;
  border-radius: 5px;
}

.drag-area {
  display: none;
}

.drag-header {
  font-size: 20px;
  margin-bottom: 5px;
}

.file-input {
  display: none;
}

.select-button {
  background-color: #E6F3FF;
  color: #000;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.select-button:hover {
  background-color: #d6baff;
}
