/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Container Styles */
.home-page-container {
  background-color: #e6f3ff;
  display: flex;
  min-height: 100vh;
}

/* Main Content Styles */
.home-main-content {
  flex: 1; /* Change flex value to allow the main content to take available space */
  padding: 20px;
  box-sizing: border-box; /* Include this to ensure padding is included in the width */
  margin-left: 240px;
}

/* Feed Styles */
.home-feed {
  background-color: #ffffff;
  padding: 20px; /* Adjust the value accordingly */
  border-radius: 5px;
  position: relative;
}

/* Feed Content Styles */
.home-feed-content {
  display: flex;
  align-items: flex-start;
}

/* Feed Image Styles */
.home-feed-image img {
  position: relative;
  width: 80%;
  height: 70%;
  aspect-ratio: 14 / 7;
  object-fit: cover;
  border-radius: 5px;
} 

/* Feed Image Alignment */
.home-feed-image {
  text-align: center;
}

/* User Info text */
.user-info {
  padding-top: 5px;
  text-align: center;
}


/* Icons Styles */
.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

/* Like Container Styles */
.icons .like-container img,
.icons img {
  width: 30px;
}

/* Like Container Height */
.like-container {
  height: 25px;
  margin: auto;
}

/* Likes Container Styles */
.likes-container {
  color: #000000;
  margin: auto;
  font-weight: 600;
  font-size: 120%;
}

/* Lorem Text Styles */
.lorem-text {
  font-size: 15px;
  padding-bottom: 20px;
  text-align: center;
}

/* User Info Styles */
.user-info a {
  margin: auto;
  font-size: 15px;
  color: #000000;
  text-decoration: none;
}

/* User Info Hover Effect */
.user-info h3:hover {
  color: #d6baff;
}

/* Hashtag Styles */
.hashtag {
  color: #d6baff;
  font-weight: bold;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 767px) {
  .home-feed {
    margin: 10px; 
  }

  .home-feed-image img {
    width: 50%;
  }

  .user-info {
    text-align: center;
  }
}
/* Responsive styles for very small screens (phones) */
@media screen and (max-width: 479px) {
  .home-feed {
    margin: 5px; 
  }

  .home-feed-image img {
    width: 100%; 
  }

  .user-info {
    text-align: center;
  }
}