/* Style for the Post Popup */
.postpopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 80%; /* Adjusted width for better responsiveness */
  max-width: 500px;
  padding: 40px; /* Adjusted padding for better spacing */
  border-radius: 20px; /* Adjusted border radius */
  z-index: 9999;
  color: #000;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Styles for Post Popup Content Sections */
.post-popup-content {
  text-align: center;
  width: 100%;
}

.post-popup-content .content-wrapper {
  margin-bottom: 20px; /* Added margin bottom for spacing */
}

/* Style for the Picture Preview */
.preview-image {
  max-width: 100%; /* Ensure the image fits within the container */
  max-height: 200px; /* Set maximum height as needed */
  margin-bottom: 20px; /* Added margin bottom for spacing */
}

/* Style for the Submit Button */
.submit-button {
  padding: 15px 40px; /* Adjusted padding for better button size */
  background-color: #d6baff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 16px; /* Adjusted font size for better readability */
  transition: background-color 0.3s ease;
}

/* Hover effect for the Submit Button */
.submit-button:hover {
  background-color: #e6f3ff;
}
